div + h3 + p {
    color: green;
}
.text-box h3:nth-child(1){
    color: pink;
}
#greycol {
    color: gray;
}
div div p {
    color: red;
}
.yellow {
    color: yellow;
}

#monday {
    color: aquamarine;
}
#tuesday {
    color:blueviolet;
}
#wednesday {
    color: red;
}
#thursday {
    color: green;
}
#friday {
    color: palegreen;
}
#hover:hover {
    color: blue;
}
#hover {
    width: 100px;
}

/* unvisited link */
a:link {
    color: #FF0000;
    }
    .additional li:nth-child(6) {
        color: #FF0000;
    }
.container {
    padding: 8px;
    cursor: alias;
    gap: 5px;
}
#friday li:nth-child(odd) {
background-color:bisque;
}
#thursday li:first-child {
    background-color: burlywood;
}
